.header {
    width: 100vw;
    position: fixed;
    top: 0;
}

.wrapper {
    padding: 10px;
    box-sizing: border-box;
    background-color: #021B33; /* Cor aplicada */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    z-index: 1;
    flex-direction: row-reverse;
}

.logoWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo {
    margin-right: 10px;
    margin-left: 30px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    background-size: 1200%;
    -webkit-text-fill-color: transparent;
    animation: moveGradient 2s ease infinite;
    color: #A9CFE5; /* Cor aplicada */
}

.button {
    background-color: transparent;
    color: #F7F7F7; /* Cor aplicada */
    border: none;
    height: 60px;
    width: 60px;
    transition: transform 0.2s ease;
    margin-right: auto;
}

.button:hover {
    transform: scale(1.1);
}

.navOptions {
    background-color: #12577B; /* Cor aplicada */
    padding: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    list-style: none;
}

.navItem > * {
    color: #F7F7F7; /* Cor aplicada */
    text-decoration: none;
    transition: color 0.2s ease;
}

.submenu {
    list-style: none;
    padding-left: 20px;
    margin-top: 5px;
}

.submenu li {
    background-color: #A9CFE5; /* Cor aplicada */
    padding: 5px;
    margin: 3px 0;
    border-radius: 5px;
}

.submenu li a {
    text-decoration: none;
    color: #021B33; /* Cor aplicada */
    font-weight: bold;
}