:root {
  --background: #A9CFE5;
  --foreground: #021B33;
  --primary: #12577B;
  --secondary: #A9CFE5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #021B33;
    --foreground: #ffffff;
    --primary: #A9CFE5;
    --secondary: #12577B;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--foreground);
  text-decoration: none;
}
